<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2 { 
            margin: 10px 0;
            text-align: center; 
        }
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: flext-start;
        }
        main div.box {
            background-color: {{ box_color }};
            margin: 10px;
            height: 400px;
            width: 400px;
        }
    </style>
</head>
<body>
    <h2>Welcome</h2>
    <main>
        {% for _ in range(num_boxes):%}
            <div class="box"></div>
        {% endfor %}
    </main>
</body>
</html>