* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Arial", sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
}

form#messageForm input[type='submit'] { 
    background-color: blue; 
}
form.commentForm input[type='submit'] { 
    background-color: green; 
}
form.deleteMessageForm input[type='submit'] { 
    background-color: red; 
}

form { width: 100%; }
form label span { font-weight: bold; }
form textarea { 
    width: calc(100% - 22px); 
    padding: 10px;
}

form input[type='submit'] {
    display: block;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 3px;
    padding: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

section.block, form.commentForm {
    width: calc(100% - 40px); 
    padding: 20px 20px 0;
}
p.body {
    width: calc(100% - 40px); 
    padding: 5px 20px;
}

h4 { font-size: calc(8px + 0.5vw); }
