<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
</head>
<body>
    <h1>{{author.first_name}} {{author.last_name}}</h1>
    <h4>ID: {{author.id}}</h4> 
    <div>
        <h4>Notes</h4>
        <p>{{author.notes}}</p>
    </div>
    <h4>Books</h4>
    <ul>
        {% for book in books %}
            <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    <form action="/add_link" method="post">
        {% csrf_token %}
        <input type="hidden" name="author" value="{{author.id}}">
        <select name="book">
            {% for book in other_books %}
                {% if book not in books %}
                    <option value="{{book.id}}">{{ book.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Add">
    </form>
</body>
</html>